*{
    text-align: center;
    font-size: large;
}

.butons{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
    
}

.timerlabel{
    
    font-size: 50px;
    margin-top: 50px;
}

.botones{
    margin: 10px;
    cursor: pointer;

}